<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    선언적 랜더링
    <div id="app">
        {{message}}
    </div>

    <hr>

    디렉티브(Directive)
    <div id="app-2">
        <!-- <span v-bind:title="message"> v-bind 생략가능 -->
        <span :title="message">
            마우스를 올려보세요.
        </span>
    </div>

    <hr>

    조건문(v-if)
    <div id="app-3">
        <p v-if="isTrue">true</p>
    </div>

    <hr>

    반복문(v-for)
    <div id="app-4">
        <ul>
            <li v-for="message in messageList">
                {{message.text}}
            </li>
        </ul>
    </div>

    <hr>

    사용자 입력 핸들링(v-on)
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">
            클릭
        </button>

    </div>

    <hr>

    사용자 입력 핸들링(v-model)
    <div id="app-6">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>

    <hr>

    컴포넌트(Component)
    <div id="app-7">
        <todo-item></todo-item>
    </div>
</body>

</html>

<script>
    // 컴포넌트(Component)
    Vue.component('todo-item', {
        template: '<li>할일 목록입니다.</li>'
    })

    var vm7 = new Vue({
        el: "#app-7"
    })

    // 사용자 입력 핸들링(v-model)
    var vm6 = new Vue({
        el: "#app-6",
        data: {
            message: "입력해주세요!"
        }
    })

    // 사용자 입력 핸들링(v-on)
    var vm5 = new Vue({
        el: "#app-5",
        data: {
            message: "클릭 되었습니다."
        },
        // methods vs computed
        // methods : 이벤트 핸들러, 비동기 작업 등을 수행하는 함수들의 묶음
        // computed : 어떤 데이터를 계산을 해야할 때
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    // 반복문
    var vm4 = new Vue({
        el: "#app-4",
        data: {
            messageList: [
                { text: 'Hello' },
                { text: 'Vue' },
                { text: 'js' }
            ]
        }

    })

    // 조건문
    var vm3 = new Vue({
        el: "#app-3",
        data: {
            isTrue: false
        }
    })

    // 디렉티브
    var vm = new Vue({
        el: "#app-2",
        data: {
            message: 'v-bind:title이 동작했습니다.'
        }
    })

    // 선언적 랜더링
    // var app = new Vue({
    //     el: '#app',
    //     data: {
    //         message: "Hello, Vue!"
    //     }
    // })

</script>