<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    조건부 렌더링
    <div id="app-1">
        <input type="text" v-model="season">
        <h1 v-if="season === 'spring'">봄</h1>
        <h1 v-else-if="season === 'summer'">여름</h1>
        <h1 v-else-if="season === 'autumn'">가을</h1>
        <h1 v-else-if="season === 'winter'">겨울</h1>
        <h1 v-else>해당하는 계절이 아닙니다.</h1>
    </div>

    <script>
        var vm = new Vue({
            el: '#app-1',
            data: {
                season: 'summer'
            }
        })
    </script>

    <hr>

    <div id="app-2">
        <h1 v-show="shouldShowGreeting">안녕하세요!</h1>
        <button @click="toggleGreeting">인사 버튼</button>
    </div>

    <script>
        var vm2 = new Vue({
            el: '#app-2',
            data: {
                shouldShowGreeting: true
            },
            methods: {
                toggleGreeting() {
                    this.shouldShowGreeting = !this.shouldShowGreeting;
                }
            }
        })
    </script>

    <hr>

    3의 배수인지 확인하는 프로그램
    <!-- 3의 배수면 "3의 배수입니다.", 배수가 아니라면 "3의 배수가 아닙니다." -->
    <div id="app-3">
        <input type="number" v-model="inputNumber">
        <button @click="numberCheck">확인</button>
        <p>{{result}}</p>
    </div>

    <script>
        var vm3 = new Vue({
            el: '#app-3',
            data: {
                inputNumber: null,
                result: ''
            },
            methods: {
                numberCheck() {
                    if (this.inputNumber !== null) {
                        this.result = this.inputNumber % 3 === 0 ? '3의 배수입니다.' : '3의 배수가 아닙니다.';
                    } else {
                        this.result = '';
                    }
                }
            }
        })
    </script>

    <hr>

    3의 배수인지 확인하는 프로그램
    <div id="app-4">
        <input type="number" v-model="inputNumber">
        <p>{{getResult()}}</p>
    </div>

    <script>
        var vm4 = new Vue({
            el: "#app-4",
            data: {
                inputNumber: null
            },
            methods: {
                getResult: function () {
                    if (this.inputNumber !== null && this.inputNumber > 0) {
                        return this.inputNumber % 3 === 0 ? '3의 배수입니다.' : '3의 배수가 아닙니다.';
                    } else {
                        return '';
                    }
                }
            }
        })
    </script>

    <hr>

    <!-- 1. 사용자에게 나이를 입력받아 19세 이상이면 "성인", 미만이면 "미성년자"로 출력하는 프로그램을 작성하세요. -->
    <div id="app-5">
        <input type="number" placeholder="나이를 입력하세요" v-model="sunginNumber">
        <button @click="sunginCheck">확인</button>
        <p>{{ result }}</p>
    </div>

    <script>
        var vm5 = new Vue({
            el: '#app-5',
            data: {
                sunginNumber: null,
                result: ''
            },
            methods: {
                sunginCheck() {
                    if (this.sunginNumber >= 19) {
                        this.result = '성인';
                    } else {
                        this.result = '미성년자';
                    }
                }
            }
        })

    </script>

    <hr>

    <!-- 2. 사용자에게 숫자를 입력받아 그 숫자가 짝수인지 홀수인지 판별하는 프로그램을 작성하세요. -->
    <div id="app-6">
        <label for="userInput">숫자를 입력하세요: </label>
        <input type="number" id="userInput" v-model="jjackholNumber">
        <button @click="jjackholCheck">확인</button>

        <div v-show="jjackholView" v-if="jjackholIf === 'jjack'">입력한 숫자가 짝수입니다.</div>
        <div v-show="jjackholView" v-else-if="jjackholIf === 'hol'">입력한 숫자가 홀수입니다.</div>
        <div v-show="jjackholView" v-else-if="jjackholIf === 'no'">숫자를 입력해주세요.</div>
    </div>

    <script>
        var vm7 = new Vue({
            el: '#app-6',
            data: {
                jjackholView: false,
                jjackholNumber: '',
                jjackholIf: ''
            },
            methods: {
                jjackholCheck() {
                    if (this.jjackholNumber === '') {
                        this.jjackholView = true;
                        this.jjackholIf = 'no';
                    }
                    else if (this.jjackholNumber % 2 === 0 && this.jjackholNumber > 0) {
                        this.jjackholView = true;
                        this.jjackholIf = 'jjack';
                    }
                    else if (this.jjackholNumber % 2 !== 0 && this.jjackholNumber > 0) {
                        this.jjackholView = true;
                        this.jjackholIf = 'hol';
                    }
                }
            }
        })
    </script>

    <hr>

    <!-- 3. 사용자에게 온도를 입력받아 30도 이상이면 "덥습니다", 
            20도 이상이면 "적당합니다", 미만이면 "춥습니다"로 출력하는 프로그램을 작성하세요. -->
    <div id="app-7">
        <label for="temperature">온도를 입력하세요: </label>
        <input type="number" id="temperature" v-model="inputTemperature">
        <button @click="temperatureCheck">확인</button>

        <div>{{ temperatureMessage }}</div>
    </div>

    <script>
        var vm8 = new Vue({
            el: '#app-7',
            data: {
                inputTemperature: null,
                temperatureMessage: ""
            },
            methods: {
                temperatureCheck() {
                    if (this.inputTemperature >= 30) {
                        this.temperatureMessage = "덥습니다.";
                    } else if (this.inputTemperature >= 20) {
                        this.temperatureMessage = "적당합니다.";
                    } else {
                        this.temperatureMessage = "춥습니다.";
                    }
                }
            }
        })
    </script>

    <hr>

    <!-- 4. 사용자에게 두 수를 입력받아 두 수가 같으면 "두 수는 같습니다.", 
            다르면 "두 수는 다릅니다."를 출력하는 프로그램을 작성하세요. -->
    <div id="app-8">
        <label for="firstNumber">첫 번째 숫자: </label>
        <input type="number" id="firstNumber" v-model="fNum">

        <label for="secondNumber">두 번째 숫자: </label>
        <input type="number" id="secondNumber" v-model="sNum">

        <button @click="sameCheck">확인</button>

        <div>{{ resultMessage }}</div>
    </div>

    <script>
        var vm9 = new Vue({
            el: '#app-8',
            data: {
                fNum: null,
                sNum: null,
                resultMessage: ''
            },
            methods: {
                sameCheck() {
                    if (this.fNum === this.sNum) {
                        this.resultMessage = "두 수는 같습니다.";
                    } else {
                        this.resultMessage = "두 수는 다릅니다.";
                    }
                }
            }
        })
    </script>

    <hr>

    <!-- 5. 사용자에게 국어, 영어, 수학 점수를 입력받아 평균이 90점 이상이면 "A", 
            80점 이상이면 "B", 70점 이상이면 "C", 그 미만이면 "D"를 출력하는 프로그램을 작성하세요. -->
    <div id="app-9">
        <label for="koreanScore">국어 점수: </label>
        <input type="number" id="koreanScore" v-model="korea">

        <label for="englishScore">영어 점수: </label>
        <input type="number" id="englishScore" v-model="english">

        <label for="mathScore">수학 점수: </label>
        <input type="number" id="mathScore" v-model="math">

        <button @click="Rank">확인</button>

        <div>{{grade}}</div>
    </div>

    <script>
        var vm10 = new Vue({
            el: '#app-9',
            data: {
                korea: null,
                english: null,
                math: null,
                grade: ""
            },
            methods: {
                Rank() {
                    const avg = (parseInt(this.korea) + parseInt(this.english) + parseInt(this.math)) / 3;

                    console.log(avg);
                    if (avg >= 90) {
                        this.grade = "A";
                    } else if (avg >= 80 && avg < 90) {
                        this.grade = "B";
                    } else if (avg >= 70 && avg < 80) {
                        this.grade = "C";
                    } else {
                        this.grade = "D";
                    }
                }
            }

        })
    </script>

    <hr>

    리스트 렌더링(v-for)
    <div id="app-10">
        <ul>
            <li v-for="item in items" v-if="item.isComplete">
                {{item.message}}
            </li>
        </ul>
    </div>

    <script>
        var vm11 = new Vue({
            el: '#app-10',
            data: {
                items: [
                    { message: '아이템1', isComplete: false },
                    { message: '아이템2', isComplete: true },
                    { message: '아이템3', isComplete: true },

                ]
            }
        })
    </script>

    <hr>

    구구단
    <div id="app-11">
        <input type="number" v-model="inputGugudan">
        <button @click="generateGugudan">확인</button>

        <div v-if="resultGugudan.length > 0">
            <p>구구단 결과 : </p>
            <ul>
                <li v-for="gugudan in resultGugudan">{{gugudan}}</li>
            </ul>
        </div>
    </div>

    <script>
        var vm12 = new Vue({
            el: '#app-11',
            data: {
                inputGugudan: null,
                resultGugudan: []
            },
            methods: {
                generateGugudan: function () { // null check
                    if (this.inputGugudan !== null && this.inputGugudan !== '') {
                        this.resultGugudan = this.calcGugudan();
                    }
                },
                calcGugudan: function () { // 구구단 계산
                    let result = [];
                    for (let i = 1; i <= 9; i++) {
                        result.push(`${this.inputGugudan} * ${i} = ${this.inputGugudan * i}`);
                    }
                    return result;
                }
            }
        })
    </script>

    <hr>

    <div id="todo-list-example">
        <form @submit.prevent="addNewTodo">
            <label for="new-todo">해야할 일</label>
            <input type="text" id="new-todo" v-model="newTodoText">
            <button>추가</button>
        </form>

        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" :key="todo.id" :title="todo.title"
                @remove="todos.splice(index, 1)"></li>
        </ul>
    </div>

    <script>
        Vue.component('todo-item', {
            template: '\
                <li>\
                {{ title }}\
                <button v-on:click="$emit(\'remove\')">삭제</button>\
                </li>\
            ',
            props: ['title']
        })
        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: '밥먹기',
                    },
                    {
                        id: 2,
                        title: '잠자기',
                    },
                    {
                        id: 3,
                        title: '놀기'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })
    </script>

    <hr>

    <div id="app-12">
        <button @click="count += 1">클릭</button>
        <p v-if="count < 10">이 버튼을 클릭한 횟수는 {{count}}번 입니다.</p>
        <p v-else-if="count >= 10">10번을 모두 클릭하셨습니다!</p>
    </div>

    <script>
        var vm13 = new Vue({
            el: '#app-12',
            data: {
                count: 0
            }
        })
    </script>

    <hr>

    <div id="app-13">
        <button @click="getEvent">버튼</button>
    </div>

    <script>
        var vm14 = new Vue({
            el: '#app-13',
            data: {
                name: 'Vue.js'
            },
            methods: {
                getEvent: function () {
                    alert("Hello, " + this.name);
                    if (event) {
                        alert(event.target.tagName);
                    }
                }
            }
        })
    </script>

    <hr>

    watch : 데이터를 감시
    <div id="app-14">
        <input type="text" v-model="message">
        <p>글자 수 : {{messageLength}}</p>
        <p>이전 글자 수: {{oldMessageLength}}</p>

    </div>

    <script>
        var vm15 = new Vue({
            el: '#app-14',
            data: {
                message: '',
                messageLength: 0,
                oldMessageLength: 0
            },
            watch: {
                message(newMessage, oldMessage) {
                    console.log("this.message : " + this.message);
                    console.log("newMessage : " + newMessage);
                    console.log("oldMessage : " + oldMessage);

                    this.messageLength = newMessage.length;
                    this.oldMessageLength = oldMessage.length;
                }
            }
        })
    </script>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

</html>