<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- Q1. 뷰 인스턴스를 생성하고 HTML div 요소에 바인딩 하세요. -->
    <!-- Q2. 뷰 인스턴스의 데이터 속성을 정의하고, todoList 배열에 3개 이상의 값을 넣으세요.
    ex) id: 1, text : '밥먹기' -->
    <!-- Q3. todoList 배열을 ul > li 태그로 모두 꺼내 보세요. -->
    <div id="quiz-1">
        <ul>
            <li v-for="todo in todoList">{{ todo.text }}</li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#quiz-1',
            data: {
                todoList: [
                    { text: '밥먹기' },
                    { text: '눕기' },
                    { text: '잠자기' }
                ]
            }
        })
    </script>

    <hr>

    <!-- Q4. 아래의 input 태그에 사용자가 입력할 경우 p 태그에 입력한 값이 출력 되도록 코드를 작성하세요. -->
    <div id="quiz-4">
        <p> {{ message }} </p>
        <input type="text" v-model="message" />
    </div>
    <script>
        var vm4 = new Vue({
            el: '#quiz-4',
            data: {
                message: null
            }
        })
    </script>

    <hr>

    <!-- Q5. 버튼을 클릭했을 때 btnText에 "버튼을 눌럿습니다."가 출력되도록 코드를 작성하세요. -->
    <div id="quiz-5">
        <p> {{ btnText }} </p>
        <button @click="setText"> 버튼 </button>
    </div>
    <script>
        var vm5 = new Vue({
            el: '#quiz-5',
            data: {
                btnText: ''
            },
            methods: {
                setText: function () {
                    this.btnText = '버튼이 클릭됐습니다.';
                }
            }
        })
    </script>

    <hr>
    <!-- Q6. input 태그에 사용자가 몇 월(1~12)인지 입력하고 버튼을 클릭할 경우 p 태그에 무슨 계절인지 출력하세요.
    - 3,4,5 : 봄
    - 6,7,8 : 여름
    - 9,10,11 : 가을
    - 12,1,2 : 겨울
    - 그 외 : 잘못된 입력입니다. -->
    <div id="quiz-6">
        <p> {{ season }} </p>
        <input type="text" v-model="inputMonth" />
        <button @click="resultMonth"> 버튼 <button>
    </div>
    <script>
        var vm6 = new Vue({
            el: '#quiz-6',
            data: {
                inputMonth: null,
                season: ''
            },
            methods: {
                resultMonth: function () {
                    if (this.inputMonth >= 3 && this.inputMonth <= 5) {
                        this.season = '봄';
                    } else if (this.inputMonth >= 6 && this.inputMonth <= 8) {
                        this.season = '여름';
                    } else if (this.inputMonth >= 9 && this.inputMonth <= 11) {
                        this.season = '가을';
                    } else if (this.inputMonth == 12 || this.inputMonth <= 2) {
                        this.season = '겨울';
                    } else {
                        this.season = '잘못된 입력입니다.';
                    }
                }
            }
        })
    </script>

    <!-- Q7. 버튼의 숫자가 20까지만 설정되도록 하기 -->
    <div id="quiz-7">
        <p v-if="count<20">{{ count }}</p>
        <p v-else-if="count>=20">20</p>
        <button @click="count += 1">버튼을 눌러주세요.</button>
    </div>
    <script>
        var vm7 = new Vue({
            el: '#quiz-7',
            data: {
                count: 0
            }
        })
    </script>

    <hr>

    <!-- Q8. 버튼 클릭할 때 마다 텍스트 숨김/보임 처리 -->
    <div id="quiz-8">
        <p v-if="flag">텍스트</p>
        <button @click="reverseFlag">클릭</button>
    </div>
    <script>
        var vm8 = new Vue({
            el: '#quiz-8',
            data: {
                flag: true
            },
            methods: {
                reverseFlag: function () {
                    this.flag = !this.flag;
                }
            }
        })
    </script>

    <!-- Q9. 구구단 정답 맞추기 -->
    <div id="quiz-9">
        <!-- first와 second는 Math.ceil(Math.random()*9) 를 사용해서 랜덤으로 숫자 출력 -->
        <p>{{first}} * {{second}}</p>
        <input type="text" v-model="inputNumber"></input>
        <button @click="quizCheck">제출</button>
        <p> {{ result }}</p>
    </div>
    <script>
        var vm9 = new Vue({
            el: '#quiz-9',
            data: {
                first: Math.ceil(Math.random() * 9),
                second: Math.ceil(Math.random() * 9),
                inputNumber: null,
                result: null
            },
            methods: {
                quizCheck: function () {
                    // 정답인지 아닌지 확인
                    if (this.first * this.second === parseInt(this.inputNumber)) {
                        this.result = '정답입니다.';
                        // 정답일 경우 숫자 다시 생성
                        this.first = Math.ceil(Math.random() * 9);
                        this.second = Math.ceil(Math.random() * 9);
                    } else {
                        this.result = '틀렸습니다.';
                    }
                }
            }
        })
    </script>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

</html>