<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mainMapper">
	<resultMap type="main" id="mainResultSet">
		<result column="SEARCH_NO" property="searchNo"></result>
		<result column="SEARCH_WORD" property="searchWord"></result>
		<result column="SEARCH_DATE" property="searchDate"></result>
	</resultMap>

	<!-- 중복 등록 체크 -->
	<select id="SearchWordDuplicate" resultType="_int">
		SELECT COUNT(*) FROM
		SEARCH
		WHERE SEARCH_WORD = #{searchWord}
	</select>

	<!-- 검색 페이지 검색 데이터 등록 -->
	<insert id="insertSearch" parameterType="main">
		INSERT INTO SEARCH
		VALUES(SEARCH_SEQ.NEXTVAL, #{searchWord}, DEFAULT, #{memberNo})
	</insert>

	<!-- 검색 데이터 리스트 -->
	<select id="searchList" resultMap="mainResultSet">
		<!-- SELECT * FROM SEARCH
		WHERE
		MEMBER_NO = #{memberNo}
		ORDER BY
		SEARCH_DATE DESC
		LIMIT 10
		 -->
		 SELECT * FROM (SELECT * 
		 				FROM SEARCH 
		 				WHERE MEMBER_NO = #{memberNo} 
		 				ORDER BY SEARCH_DATE DESC)
		<![CDATA[where rownum <= 10]]>
	</select>

	<!-- 최근 검색어 삭제 -->
	<delete id="deleteSearch" parameterType="int">
		DELETE SEARCH
		WHERE
		SEARCH_NO = #{searchNo}
	</delete>

</mapper>