<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	<resultMap type="admin" id="adminResultSet">
		<result column="MEMBER_NO" property="memberNo"></result>
		<result column="MEMBER_ID" property="memberId"></result>
		<result column="MEMBER_PWD" property="memberPwd"></result>
		<result column="MEMBER_NAME" property="memberName"></result>
		<result column="MEMBER_PHONE" property="memberPhone"></result>
		<result column="MEMBER_TYPE" property="memberType"></result>
	</resultMap>

	<!-- 회원가입 -->
	<insert id="registerAdmin" parameterType="admin">
		INSERT INTO MEMBER
		VALUES(MEMBER_SEQ.NEXTVAL, #{memberId}, #{memberPwd}, #{memberName},
		#{memberPhone}, #{memberType}, DEFAULT, DEFAULT, DEFAULT, NULL, DEFAULT)
	</insert>

	<!-- 아이디 중복검사 -->
	<select id="checkId" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE
		MEMBER_ID = #{memberId}
	</select>

	<!-- 로그인 -->
	<select id="loginAdmin" resultMap="adminResultSet">
		SELECT * FROM MEMBER
		WHERE
		MEMBER_ID = #{memberId}
	</select>
</mapper>