<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">
	<resultMap type="reply" id="replyResultSet">
		<result column="ask_comment_content" property="ask_comment_content"></result>
		<result column="member_no" property="member_no"></result>
		<result column="ask_no" property="ask_no"></result>
	</resultMap>

	<!-- 댓글 보이기 -->
	<select id="getList" resultMap="replyResultSet">
		SELECT ask_comment_content FROM
		ask_comment
		WHERE ask_no = #{ask_no}
	</select>
	<!-- 댓글 작성 -->
	<insert id="CommentRegist" parameterType="reply">
		INSERT INTO
		ask_comment(ask_comment_content, member_no, ask_no)
		VALUES(#{ask_comment_content}, #{member_no}, #{ask_no})
	</insert>
	<!-- 댓글 삭제 -->
	<delete id="commentDelete">
		DELETE FROM ask_comment
		WHERE ask_comment_content =
		#{ask_comment_content}
	</delete>
	
</mapper>