<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payMapper">
	<!-- <resultMap type="pay" id="payResultSet">
		<result column="SALES_NO" property="salesNo"></result>
		<result column="SALES_NAME" property="salesName"></result>
		<result column="SALES_ADDRESS" property="salesAddress"></result>
		<result column="SALES_PRICE" property="salesPrice"></result>
		<result column="SALES_DELIVERY" property="salesDelivery"></result>
		<result column="SALES_IMAGE_NAME" property="salesImageName"></result>
		<result column="SALES_IMAGE_PATH" property="salesImagePath"></result>
		<result column="SALES_DATE" property="salesDate"></result>
		<result column="SALES_COMPLETE" property="salesComplete"></result>
		<result column="PAY_NO" property="payNo"></result>
		<result column="PAY_RECEIPT" property="payReceipt"></result>
		<result column="PAY_ADDRESS" property="payAddess"></result>
		<result column="PAY_METHOD" property="payMethod"></result>
		<result column="PAY_AGREE" property="payAgree"></result>
	</resultMap> -->




</mapper>